In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jaitaran,IN,2022-07-28 03:42:31,26.2031,73.9364,81.81,77,95,14.20
1,1,Puerto Ayora,EC,2022-07-28 03:42:32,-0.7393,-90.3518,69.55,96,98,10.00
2,2,Vaini,TO,2022-07-28 03:41:45,-21.2000,-175.2000,78.96,83,20,10.36
3,3,Linqing,CN,2022-07-28 03:42:32,36.8456,115.7117,75.60,90,100,8.93
4,4,Khatanga,RU,2022-07-28 03:42:32,71.9667,102.5000,72.39,45,94,4.09

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating = False, max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# # Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jaitaran,IN,2022-07-28 03:42:31,26.2031,73.9364,81.81,77,95,14.20
2,2,Vaini,TO,2022-07-28 03:41:45,-21.2000,-175.2000,78.96,83,20,10.36
3,3,Linqing,CN,2022-07-28 03:42:32,36.8456,115.7117,75.60,90,100,8.93
10,10,Daru,PG,2022-07-28 03:42:34,-9.0763,143.2092,78.12,88,43,19.55
13,13,Vanimo,PG,2022-07-28 03:42:35,-2.6741,141.3028,84.81,70,64,9.86
16,16,Singapore,SG,2022-07-28 03:38:51,1.2897,103.8501,87.66,74,40,11.50
17,17,Sao Filipe,CV,2022-07-28 03:42:37,14.8961,-24.4956,78.26,88,92,3.98
18,18,Khandyga,RU,2022-07-28 03:42:37,62.6667,135.6000,85.48,33,14,4.18
25,25,Yuki,JP,2022-07-28 03:42:39,36.3000,139.8833,87.69,60,90,2.53
30,30,Nishihara,JP,2022-07-28 03:42:41,26.1842,127.7558,87.46,79,75,9.22

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [23]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jaitaran,IN,2022-07-28 03:42:31,26.2031,73.9364,81.81,77,95,14.20
2,2,Vaini,TO,2022-07-28 03:41:45,-21.2000,-175.2000,78.96,83,20,10.36
3,3,Linqing,CN,2022-07-28 03:42:32,36.8456,115.7117,75.60,90,100,8.93
10,10,Daru,PG,2022-07-28 03:42:34,-9.0763,143.2092,78.12,88,43,19.55
13,13,Vanimo,PG,2022-07-28 03:42:35,-2.6741,141.3028,84.81,70,64,9.86
...,...,...,...,...,...,...,...,...,...,...
544,544,Rangapara,IN,2022-07-28 03:56:23,26.8167,92.6500,85.15,79,45,4.83
545,545,Sibolga,ID,2022-07-28 03:52:46,1.7427,98.7792,86.50,56,26,4.05
548,548,Kudahuvadhoo,MV,2022-07-28 03:56:25,2.6708,72.8944,82.54,73,98,14.97
549,549,Erzin,TR,2022-07-28 03:57:25,36.9559,36.2000,80.20,47,0,0.49
552,552,Lazaro Cardenas,MX,2022-07-28 03:57:26,17.9583,-102.2000,79.90,80,100,4.03

In [27]:
hotel_df = preferred_cities_df[['City','Country','Max Temp', 'Lat', 'Lng']].copy()
hotel_df["Hotel Name"] =""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0     Jaitaran      IN     81.81  26.2031   73.9364
2        Vaini      TO     78.96 -21.2000 -175.2000
3      Linqing      CN     75.60  36.8456  115.7117
10        Daru      PG     78.12  -9.0763  143.2092
13      Vanimo      PG     84.81  -2.6741  141.3028
16   Singapore      SG     87.66   1.2897  103.8501
17  Sao Filipe      CV     78.26  14.8961  -24.4956
18    Khandyga      RU     85.48  62.6667  135.6000
25        Yuki      JP     87.69  36.3000  139.8833
30   Nishihara      JP     87.46  26.1842  127.7558

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jaitaran,IN,81.81,26.2031,73.9364,"Sheetal Bhoomi Seervi Resort, Bhakarwas"
2,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
3,Linqing,CN,75.60,36.8456,115.7117,Dongfang Hotel
10,Daru,PG,78.12,-9.0763,143.2092,Daru Lodge
13,Vanimo,PG,84.81,-2.6741,141.3028,Vahmoneh Lodge Vanimo

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.33)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))